02-python-oop/w1d3-02-class-methods/classes/__pycache__/guitar.cpython-311.pyc
02-python-oop/w1d3-02-class-methods/classes/__pycache__/user.cpython-311.pyc
02-python-oop/w1d3-03-game-classes/game/classes/__pycache__/human.cpython-311.pyc
02-python-oop/w1d3-03-game-classes/game/classes/__pycache__/mage.cpython-311.pyc
02-python-oop/w1d2-00-intro/intro.py
00-00-Extra-Lectures
04-mysql/w2d1-01-erds/albums.mwb.bak