<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" />
    <title>Ajax Flask & APIS Oh My</title>
  </head>
  <body>
    <div class="container">
      <h1 class="display-1">Ajax Flask & APIS</h1>
      <div class="card shadow mb-3">
        <div class="card-body">
          <form id="joke-form">
            <button type="submit" class="btn btn-primary w-100">
              Get Dad Joke
            </button>
          </form>
        </div>
      </div>
      <div id="jokes-container"></div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>