<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous" />
    <title>Jokes Dashboard</title>
  </head>
  <body>

    <main class="container">
      <div class="row pt-5">
        <div class="col">

          {# flash messages block start #}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}           
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {# flash messages block end #}

          <div class="card shadow mb-3">
            <div class="card-body">
              <h1 class="display-1">Jokes Dashboard</h1>
              <h2 class="display-3">Welcome, {{ user.first_name}}!</h2>
              <a href="/joke/new">Add a Dad Joke</a>
              <a href="/logout">Logout</a>
            </div>
          </div>
          {% for joke in jokes %}
          <div class="card shadow mb-3">
            <div class="card-body">
              <strong>Setup:</strong>
              <p class="display-5">{{ joke.setup }}</p>
              <strong>Punchline:</strong>
              <p class="display-5">{{ joke.punchline }}</p>
            </div>
            <div class="card-footer">
              <a href="/jokes/{{joke.id}}" class="btn btn-outline-info mr-2">View Joke</a>
              <form action="/groans/create" method="post">
                  <input type="hidden" name="user_id" value="{{ session.user_id }}"/>
                  <input type="hidden" name="joke_id" value="{{ joke.id }}"/>
                  <button type="submit" class="btn btn-outline-warning {{ 'disabled' if joke.is_groaned_at_by(session.user_id) else '' }}">Groan</button>
              </form>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
  </body>
</html>
