<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous" />
    <title>Jokes Details Page</title>
  </head>
  <body>

    <main class="container">
      <div class="row pt-5">
        <div class="col">

          {# flash messages block start #}
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              {% for message in messages %}           
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {# flash messages block end #}

          <div class="card shadow mb-3">
            <div class="card-body">
              <h1 class="display-1">Jokes Details Page</h1>
              <h2 class="display-3">Welcome, {{ user.first_name}}!</h2>
              <a href="/jokes">Nevermind</a>
            </div>
          </div>
          <div class="card shadow mb-3">
            <div class="card-body">
              <strong>Setup:</strong>
              <p class="display-5">{{ joke.setup }}</p>
              <strong>Punchline:</strong>
              <p class="display-5">{{ joke.punchline }}</p>
              <p class="fs-3">Creator: {{ joke.user.first_name }}</p>
              <p class="fs-3">Date Created: {{ joke.created_at }}</p>
              <p class="fs-3">Groans: {{ count }}</p>
            </div>
            <div class="card-footer d-flex gap-2 justify-content-end">
              <a href="/jokes/{{joke.id}}/edit" class="btn btn-outline-warning">Edit Joke</a>
              <form action="/jokes/{{joke.id}}/delete" method="post">
                <button type="submit" class="btn btn-outline-danger">Delete</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"></script>
  </body>
</html>